<%- include('./partials/header') %>
  <body>
    <p>Welcome! <br><br> Here you will learn about my comprehensive <%= title %>!</p>
    <br>
    <h3>Click here to view <a href="/skills">My Skills</a></h3>
  </body>
</html>
